<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hallo.api.mapper.UserMapper">
  <resultMap id="userResultMap" type="com.hallo.api.mapper.model.UserModel">
    <id column="c_id" property="id" />
    <result column="c_uid" property="uid" />
    <result column="c_account" property="account" />
    <result column="c_nickname" property="nickname" />
    <result column="c_avatar" property="avatar" />
    <result column="c_mail" property="mail" />
    <result column="c_status" property="status" />
  </resultMap>

  <select id="getUserList" resultMap="userResultMap">
    SELECT
      c_id, 
      c_uid, 
      c_account,
      c_nickname,
      c_avatar,
      c_mail,
      c_status
    FROM
      t_user
    <where>
      <if test="id != null"> c_id = #{id} </if>
      <if test="uid != null"> c_uid = #{uid} </if>
    </where>
  </select>
</mapper>