<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hallo.api.mapper.UserMessageMapper">
  <resultMap id="messageResultMap" type="com.hallo.api.mapper.model.MessageModel">
    <id column="c_id" property="id" />
    <result column="c_from_id" property="fromId" />
    <result column="c_to_id" property="toId" />
    <result column="c_content" property="content" />
    <result column="c_created_time" property="timestamp" />
  </resultMap>

  <select id="getMessageList" resultMap="messageResultMap">
    SELECT
      c_id,
      c_from_id,
      c_to_id,
      c_content,
      c_created_time
    FROM
    t_user_message
    <where>
      <if test="from != null"> 
        and c_from_id=#{from}
      </if>
      <if test="to != null">
        and c_to_id=#{to}
      </if>
    </where>
  </select>
</mapper>