/* 主题切换按钮 */
.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--hover-bg);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--selected-bg);
  }

  .theme-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--primary-color);
    transition: transform 0.3s ease;
  }

  &:hover .theme-icon {
    transform: rotate(30deg);
  }

  .theme-text {
    font-size: 12px;
    color: var(--secondary-text);
  }
}
